1.and_gate/sim/work
1.and_gate/sim/*.mti
1.and_gate/sim/*.mpf
1.and_gate/sim/vsim.wlf


2.mux2_1/sim/work
2.mux2_1/sim/*.mti
2.mux2_1/sim/*.mpf
2.mux2_1/sim/*.wlf

3.decoder3_8/sim/work
3.decoder3_8/sim/*.mti
3.decoder3_8/sim/*.mpf
3.decoder3_8/sim/*.wlf

4.shift_reg/sim/work
4.shift_reg/sim/*.mti
4.shift_reg/sim/*.mpf
4.shift_reg/sim/*.wlf
4.shift_reg/prj/*.cache
4.shift_reg/prj/*.hw
4.shift_reg/prj/*.*_files
4.shift_reg/prj/*.runs
4.shift_reg/prj/*.sim
4.shift_reg/prj/*.srcs


5.counter/sim/work
5.counter/sim/*.mti
5.counter/sim/*.mpf
5.counter/sim/*.wlf

6.edge_test/simwork
6.edge_test/sim*.mti
6.edge_test/sim*.mpf
6.edge_test/sim*.wlf


